.ide {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

a:link,
a:visited,
a:active,
a:hover {
	color: #44c;
	text-decoration: underline;
}

li {
	margin-left: 3ex;
}

h1 {
	font-size: 24pt;
	margin-top: 20pt;
}

h2 {
	font-size: 16pt;
	margin-top: 20pt;
}

p {
	margin: 10px 0 10px 0;
}

button {
	border: black 1px solid;
}

.ide-main {
	min-width: 400px;
	min-height: 300px;
	color: #000;
	background: #f00;
	overflow: hidden;
	font-family: monospace;
	font-size: 10pt;
}

.ide-panel-area {
	position: absolute;
	left: 0;
	top: 60px;
	width: 100%;
	height: calc(100% - 30px);
	min-width: 650px;
	min-height: 300px;
	background: #aaa;
	overflow: hidden;
	box-shadow: inset 0px 1px 8px #00000030;
}

.ide-toolbar {
	width: 100%;
	height: 30px;
	background: #ccc;
	color: #000;
	border-bottom: #888 solid 1px;
	box-shadow: inset 0px -1px 0px #ddd;
	box-sizing: border-box;
}

.ide-tabs-toolbar {
	width: 100%;
	height: 30px;
	background: #ccc;
	color: #000;
	border-bottom: #888 solid 1px;
	box-shadow: inset 0px -1px 0px #ddd;
	box-sizing: border-box;
}

.ide-add-document-tabs {
    width: 20px;
    height: 20px;
    border: black 1px solid;
    background: #ccc;
    color: #000;
    float: left;
}

.ide-sourcecode {
	/* overridden in file codemirror.css, class .CodeMirror */
	resize: none;
	width: 60%;
	height: calc(100% - 200px);
	background: #fff;
	color: #000;
	overflow: scroll;
}

.ide-stackview {
	background: #ffe;
	color: #000;
	border-left: #888 solid 2px;
	border-bottom: #888 solid 2px;
	overflow: hidden;
}

.ide-programview {
	background: #ffe;
	color: #000;
	overflow: hidden;
	border-left: #888 solid 2px;
}

.ide-messages {
	width: 100%;
	height: 100%;
	background: #eee;
	color: #000;
	overflow: scroll;
	padding: 0 5px 0 0;
	box-sizing: border-box;
}

.ide-message {
	width: 100%;
	white-space: pre;
}

.ide-message:hover {
	background: #cdf;
}

.ide-truncation {
	color: #808;
}

.ide-errormessage {
	cursor: pointer;
	color: #f00;
	text-decoration: underline;
}

.ide-errormessage:hover {
	font-weight: bold;
}

.ide-program-ancestor {
	background: #fc8;
}

.ide-program-current {
	background: #fa4;
	font-weight: bold;
}

.ide-turtle {
	background: #eee;
	width: 100%;
	height: 100%;
}

.ide-tutorial {
	overflow-y: auto;
	background: #fff4e8;
	width: 100%;
	height: 100%;
	padding: 15px;
	font-family: sans-serif;
	font-size: 11pt;
	line-height: 140%;
	color: #000;
}

.ide-index {
	color: #00f;
}

.ide-integer {
	color: #088;
}
.ide-real {
	color: #480;
}
.ide-string {
	color: #c00;
}
.ide-collection {
	color: #c60;
}
.ide-keyword {
	color: #00c;
}
.ide-builtin {
	color: #808;
}
.ide-userclass {
	color: #000;
}

.tgui-label.ide-state-unchecked {
	background-color: #ee8;
}

.tgui-label.ide-state-error {
	background-color: #f44;
}

.tgui-label.ide-state-running {
	background-color: #8e8;
}

.tgui-label.ide-state-waiting {
	background-color: #aca;
}

.tgui-label.ide-state-stepping {
	background-color: #8ee;
}

.tgui-label.ide-state-finished {
	background-color: #88e;
}

.ide-export-status {
	position: absolute;
	width: 80%;
	left: 10%;
	height: 40px;
	line-height: 35px;
	color: #000;
	padding: 2px 10px;
	vertical-align: middle;
	border: 1px solid #000;
}

.ide-export-download {
	position: absolute;
	width: 80%;
	left: 10%;
	height: 40px;
	line-height: 35px;
	background: #fff;
	color: #44c !important;
	font-decoration: underline;
	padding: 2px 10px;
	vertical-align: middle;
	border: 1px solid #000;
	display: none;
}

.ide-prompt-input {
	width: 100%;
	padding: 3px 6px;
}

.highlight-overlay {
	opacity: 1;
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	transition: opacity 1s ease 3s;
	top: 35vh;
	font-size: 5vh;
	background: #ffd;
	color: #000;
	padding: 1vh 2vh;
	border: 1px solid #aaa;
	border-radius: 1vh;
	user-select: none;
	z-index: 10;
}
