
.tgui
{
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

.tgui-control
{
	font-family: sans-serif;
	font-size: 10pt;
	color: #000;
	border: none;
	margin: 3px;
	position: relative;
	margin: 3px calc(min(3px, max(0.5px, calc(0.5vw - 3px)))); /* TODO: only for toolbar items */
}

.tgui-hidden
{
	display: none;
}

.tgui-tooltip
{
	display: none;
	background-color: #eec;
	color: #000;
	font-family: sans-serif;
	font-size: 9pt;
	transition: opacity 0.5s;
	padding: 2px;
	border: 1px solid #000;
	border-radius: 3px;
	white-space: nowrap;
	z-index: 10;
}

.tgui-tooltip-left
{
	position: absolute;
	left: 1px;
	top: 25px;
}

.tgui-tooltip-right
{
	position: absolute;
	right: 1px;
	top: 25px;
}

.tgui-control:hover .tgui-tooltip
{
	display: block;
}

.tgui-toolbar-separator
{
	float: left;
	width: 1px;
	height: 22px;
	background: #999;
	margin: 3px calc(min(10px, max(1.5px, calc(1vw - 3px)))); /* TODO: only for toolbar items */
	
	box-shadow: 0px 1px 2px #ffffff80;
}

/* used for program status on the toolbar */
.tgui-label
{
	background: #ddd;

	border-width: 1px;
	border-style: solid;
	border-color: #999;

	box-shadow: inset 0px  1px 2px #00000040,
				inset 0px -1px 0px #ffffff50;
	
	text-align: center;
	padding: 2px 10px 2px 10px;
	border-radius: 2px;
}

.tgui-button-text
{
	cursor: pointer;

	background: #ddd;

	border-width: 1px;
	border-style: solid;
	
	border-color: #eee;
	box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
	border-radius: 1.5px;

	text-align: center;
	padding: 2px 10px 2px 10px;
}

.tgui-button-text:hover
{
	background: #eee;
	border-color: #fff;
}

.tgui-button-text:active
{
	background: #bbb;	
	border-color: #888;
	box-shadow: inset 0px 0px 2px rgba(0,0,0,0.2);
}

.tgui-button-canvas
{
	cursor: pointer;

	background: #ddd;

	border-width: 1px;
	border-style: solid;
	
	border-color: #eee;
	box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
	border-radius: 1.5px;
}

.tgui-button-canvas:hover
{
	background: #eee;
	border-color: #fff;
}

.tgui-button-canvas:active
{
	background: #bbb;	
	border-color: #888;
	box-shadow: inset 0px 0px 2px rgba(0,0,0,0.2);
}



.tgui-dialog-button
{
	cursor: pointer;
	
	background: #eee;
	border-width: 1px;
	border-color: #000;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
	
	border-radius: 2px;
}
.tgui-dialog-button:focus
{
	background: #eee;
	border-width: 2px;
}

.tgui-dialog-button:hover
{
	background: #fff;
	border-width: 2px;
	/*box-shadow: 0px 0px 0px rgba(0,0,0,0.2);*/
}

.tgui-dialog-button:active
{
	background: #bbb;
	border-width: 2px;
	box-shadow: inset 0px 0px 3px rgba(0,0,0,0.4);
}

/* used in file dialog */
.tgui-status-box
{
	background: #eee;
	
	font-size: 10pt;
	
	/*border-width: 1px;
	border-style: solid;
	border-color: #555 #fff #fff #555;*/
	
	padding: 4px
}


.tgui-list-box
{
	box-shadow: 0px 0px 2px #00000030;
	border-radius: 2px;
	border-style: solid;
	border-width: 1px;
	border-color: #ccc;
	padding: 3px;
}


.tgui-text-box
{
	box-shadow: 0px 0px 2px #00000030;
	border-radius: 2px;
	border-style: solid;
	border-width: 1px;
	border-color: #ccc;
	padding: 0 0 0 3px;
}

.tgui-tree
{
	width: 100%;
	height: 100%;
	font-family: monospace;
	font-size: 9pt;
	line-height: 13px;
	overflow: scroll;
}

.tgui-tree-main
{
	border-collapse: collapse;
}

.tgui-tree-cell-toggle
{
	display: block;
	width: 15px;
}

.tgui-tree-cell-content
{
	width: calc(100% - 15px);
	white-space: nowrap;
}

.tgui-tree-toggle
{
	vertical-align: middle;
	padding-right: 3px;
	color: #999;
	transition: color 0.5s;
}

.tgui-tree-toggle:hover
{
	color: #000;
}

.tgui-tree-element
{
}

.tgui-tree-element:hover
{
	background: #cdf;
}

.tgui-separator
{
	display: block;
	position: fixed;
	left: 0vw;
	top: 0vh;
	width: 100vw;
	height: 100vh;
	z-index: 99;
	background: rgba(64, 64, 64, 0.8);
}

.tgui-modal
{
	position: fixed;
	box-sizing: border-box;
	background: #fff;
	color: #000;
	font-family: sans-serif;
	font-size: 12pt;
	padding: 10px;
	border: 5px solid #888;
	overflow-y: scroll;
}

.tgui-panel-container {
	overflow: hidden;
	touch-action: none;
	box-sizing: border-box;
}

/* this class is additionaly used for floating panels */
.tgui-panel-float {
	box-shadow: 0px 1px 8px #00000030;
}

.tgui-panel-titlebar {
	position: absolute;
	width: 100%;
	height: 22px;
	line-height: 22px;
	padding: 0 1px 0 10px;
	left: 0;
	top: 0;
	background: #00c;
	color: #fff;
	font-family: sans-serif;
	/*old style on browsers like firefox: font-family: serif; -- "sans" does not work and leads to "serif"*/
	font-size: 12pt;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.tgui-panel-dockbutton {
	float: right;
	padding: 0;
	width: 20px;
	height: 20px;
	margin: 1px 0 1px 1px;
}

.tgui-panel-content {
	position: absolute;
	width: 100%;
	height: calc(100% - 22px);
	left: 0;
	top: 22px;
	background: #ffe;
	color: #000;
	overflow: hidden;
}
