
.tgui
{
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

.tgui-control
{
	font-family: sans-serif;
	font-size: 10pt;
	color: #000;
	border: none;
	margin: 3px;
	position: relative;
}

.tgui-hidden
{
	display: none;
}

.tgui-tooltip
{
	display: none;
	left: 1px;
	top: 25px;
	background-color: #eec;
	color: #000;
	font-family: sans-serif;
	font-size: 9pt;
	position: absolute;
	transition: opacity 0.5s;
	padding: 2px;
	border: 1px solid #000;
	border-radius: 3px;
	white-space: nowrap;
	z-index: 10;
}

.tgui-control:hover .tgui-tooltip
{
	display: block;
}

.tgui-label
{
	background: #ddd;

	border-width: 1px;
	border-style: solid;
	border-color: #fff #555 #555 #fff;

	text-align: center;
	padding: 3px 10px 3px 10px;
}

.tgui-button-text
{
	cursor: pointer;

	background: #ddd;

	border-width: 1px;
	border-style: solid;
	border-color: #fff #555 #555 #fff;

	text-align: center;
	padding: 3px 10px 3px 10px;
}

.tgui-button-text:hover
{
	background: #bbb;
}

.tgui-button-canvas
{
	cursor: pointer;

	background: #ddd;

	border-width: 1px;
	border-style: solid;
	border-color: #fff #555 #555 #fff;
}

.tgui-button-canvas:hover
{
	background: #bbb;
}

.tgui-tree
{
	width: 100%;
	height: 100%;
	font-family: monospace;
	font-size: 9pt;
	line-height: 13px;
	overflow: scroll;
}

.tgui-tree-main
{
	border-collapse: collapse;
}

.tgui-tree-cell-toggle
{
	display: block;
	width: 15px;
}

.tgui-tree-cell-content
{
	width: calc(100% - 15px);
	white-space: nowrap;
}

.tgui-tree-toggle
{
	vertical-align: middle;
	padding-right: 3px;
	color: #999;
	transition: color 0.5s;
}

.tgui-tree-toggle:hover
{
	color: #000;
}

.tgui-tree-element
{
}

.tgui-tree-element:hover
{
	background: #cdf;
}

.tgui-separator
{
	display: block;
	position: fixed;
	left: 0vw;
	top: 0vh;
	width: 100vw;
	height: 100vh;
	z-index: 99;
	background: rgba(64, 64, 64, 0.8);
}

.tgui-modal
{
	position: fixed;
	box-sizing: border-box;
	background: #fff;
	color: #000;
	font-family: sans-serif;
	font-size: 12pt;
	padding: 10px;
	border: 5px solid #888;
	overflow-y: scroll;
}

.tgui-panel-container {
	overflow: hidden;
	touch-action: none;
	box-sizing: border-box;
}

.tgui-panel-titlebar {
	position: absolute;
	width: 100%;
	height: 22px;
	line-height: 22px;
	padding: 0 1px 0 10px;
	left: 0;
	top: 0;
	background: #00c;
	color: #fff;
	font-family: sans;
	font-size: 12pt;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.tgui-panel-dockbutton {
	float: right;
	margin: 0;
	padding: 0;
	width: 20px;
	height: 20px;
	margin: 1px 0;
}

.tgui-panel-content {
	position: absolute;
	width: 100%;
	height: calc(100% - 22px);
	left: 0;
	top: 22px;
	background: #ffe;
	color: #000;
	overflow: hidden;
}
