name: CI

on:
  pull_request:
    branches: [master]

jobs:
  build-and-test:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [15.x]

    steps:
    - uses: actions/checkout@v2
      with:
        persist-credentials: false
        fetch-depth: 0

# Set up environment
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: Install dependencies
      run: npm ci

# Build and run tests
    - name: Build IDE
      run: npm run build
    - name: Build interop
      run: npm run interop
    - name: Run tests
      run: npm test
